div.graphviewer {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    width: 75vw;
    height: auto;
}

object.graphsvg {
    grid-row: 1;
    grid-column: 1;
    height: auto;
    width: auto;
}

div.rigth{
    position: fixed;
    right: 20px;
    top: 100px;
    padding: 10px;
}
div.rigth form{
    padding: 2px;
    width: 20vw;
    border: black solid 2px;
    border-radius: 15px;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}

div[id=pilist] {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;


}

div[id=userlist] {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

div[id=userlist]:nth-child(2) {
    border-left: 2px black solid;
}



form.viewer .space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

form.viewer .space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}


form.viewer {
    width: 80%;
    border: black solid 2px;
    border-radius: 15px;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    columns: 3;


}

.devicename {
    text-decoration: solid black;
    font-size: larger;
    text-decoration: underline black;

}

.measuredtime {
    color: gray;
}

.ID {
    font-size: small;
    align-self: flex-end;
    color: rgb(189, 189, 189);
}